.profile {
  box-sizing: border-box;
  position: relative;
  max-width: 612px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 15px;
  border-radius: 30px;
  background-color: rgba(231, 224, 224, 0.23);
  padding: 15px 20px;
}

@media screen and (min-width: 656px) {
  .profile {
    max-width: 966px;
    flex-direction: row;
  }
}

@media screen and (min-width: 740px) {
  .profile {
    max-width: 966px;
  }
}