.header__link_type_button {
  color: rgba(255, 255, 255, 0.71);
  border: none;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  transition: color .3s ease-out;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.header__link_type_button:hover {
  color: #fff;
}