.header__search {
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.71);
  border-radius: 2px;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(231, 224, 224, .11);
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  outline: none;
  color: inherit;
  text-shadow: inherit;
}

.header__search::placeholder {
  color: rgba(255, 255, 255, .71);
  text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}