.header {
  display: flex;
  align-items: center;
  max-width: 794px;
  width: 100%;
  padding-top: 25px;
  row-gap: 10px;
  flex-direction: column;
}

@media screen and (min-width: 740px) {
  .header {
    flex-direction: row;
    max-width: 1164px;
    padding-top: 45px;
    box-sizing: border-box;
    justify-content: space-between;
    column-gap: 20px;
  }
}