.profile__description {
  margin: 0;
  color: inherit;
  text-shadow: inherit;
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 656px) {
  .profile__description {
    font-size: 26px;
  }
}