.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  width: 80%;
  text-align: center;
}

@media screen and (min-width: 656px) {
  .profile__info {
    text-align: start;
  }
}