.header__create-button {
  padding: 0;
  border: none;
  width: 236px;
  height: 40px;
  border-radius: 30px;
  color: inherit;
  text-shadow: inherit;
  font-weight: 500;
  font-size: 20px;
  background-color: rgba(231, 224, 224, 0.23);
  transition: opacity .2s ease-out;
  cursor: pointer;
}

.header__create-button:hover {
  opacity: .8;
}

@media screen and (min-width: 740px) {
  .header__create-button {
    font-size: 24px;
    width: 256px;
    height: 60px;
  }
}